html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin:0;
}

.cielo {
    position: relative;
    height: 40%;
    background-color: skyblue;
}

.hierba {
    position: relative;
    height: 30%;
    background-color: seagreen;
}

.carretera {
    position: relative;
    height: 30%;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}

.lineas {
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0px;
    width:100%;
    position: absolute;
    top:45%
}

.mario {
    position: absolute;
    top: -40px;
    left: 0px;
    animation-name: run;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes run {
    0% {
        left:0px; top:0px;
    }

    25% {
        left:1400px; top:0px;
    }

    50% {
        left:1400px; top: 75px;
    }

    75% {
        left:0px; top:50px;
        transform: rotateY(180deg);
    }

    100% {
        let:0px; top:0px;
    }
}